<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My Blog Site!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="page" href="http://localhost:3000/">Home</a>
        </li>
    
        <li class="nav-item">
        <a class="nav-link" href="/articles/new", new_article_path>New Article</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Articles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% @articles.each do |article| %>
            <% unless article.archived? %>
             <li>
            <%= link_to article.title, article %>
            </li>
           <% end %>
           <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
Our blog has <%= Article.public_count %> articles and counting!

<ul>
  
</ul>


